#!/bin/bash
echo -e '\033[34m#######################################################
#\033[33m           Greetings for Admin           \033[34m#
#\033[33m      Host IP: {{ ansible_all_ipv4_addresses }}             \033[34m#
#\033[33m         Host hostname: {{ ansible_hostname }}            \033[34m#
#######################################################\033[0m'